.services {
    background-color: #EFE5DC;
    padding: 55px 70px;
    min-height: 905px;
    &__items {
        display: flex;
    }
    &__wrapper {
        width: 33%;
        height: 683px;
        margin-top: 60px;
        border: 1px solid #DE8796;
        border-radius: 50%;
        margin-right: 31px;
        &:nth-child(3) {
            margin-right: 0;
        }
    }
    &__header {
        margin-top: 75px;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    hr {
        width: 254px;
        border: 1px solid #DE8796;
        margin: 0 auto;
        margin-bottom: 55px;
    }
    &__descr {
        margin: 0 auto;
        width: 319px;
        font-size: 18px;
        height: 210px;
        margin-bottom: 94px;
    }
    &__price {
        display: block;
        margin: 0 auto;
        width: 203px;
        height: 60px;   
        line-height: 61px;
        text-align: center;
        font-weight: 500;
        font-size: 22px;
        border: 1px solid #DE8796;
        border-radius: 30px;
    }
}